<div class="wrapper tab">    
    <h5>Purchased Items</h5> 
    <div class="inner-wrapper">
      <div class="row">
        <div class="col-md-5 col-xs-5">
          <img class="item-image" src="/assets/img/lg_nexus_5.jpg">
        </div>
        <div class="col-md-7 col-xs-7">
          <span class="big-text-label pull-right">{{ item.name }}</span>
          <span class="text-label pull-right">{{ item.price | mycurrency}}</span>
        </div>
      </div>
      <div class="inner-wrapper inner-content" style="margin-top: 20px">
          <span class="text-label pull-left">TOTAL</span>
          <span class="text-label pull-right">{{ item.price | mycurrency}}</span>
      </div>
    </div>
</div>

<div class="wrapper">
    <div class="inner-wrapper">
        <a ui-sref="shippingDetails" class="btn btn-primary" style="width: 100%">CHECKOUT</a>
    </div>
</div>
