<div class="wrapper" ng-init="amountToggle = false">
    <div class="inner-wrapper vertical-align" ng-click="amountToggle = !amountToggle">
      <div class=" col-xs-7 col-md-8 no-padding">
        <span class="text-label">TOTAL AMOUNT</span>
        <span class="text-label big" ng-cloak>{{ totalPrice() | mycurrency}}</span>
      </div>
      <div class=" col-xs-5 col-md-4 no-padding">
        <i class="fa fa-3x pull-right" ng-class="amountToggle ? 'fa-angle-up' : 'fa-angle-down'" style="margin-right:20px"></i>
      </div>
    </div>

  <!-- Purchased Items -->
  <div class="hidden-content animate-show" ng-show="amountToggle">
    <div class="inner-wrapper" ng-cloak>

      <!-- Row 1 -->
      <div class="row" ng-repeat="item in purchasedProducts">
        <div class="col-md-5 col-xs-5">
          <img class="item-image" src="/assets/img/lg_nexus_5.jpg">
        </div>
        <div class="col-md-7 col-xs-7">
          <span class="text-label medium">{{ item.name }}</span>
          <span class="text-label">{{ item.price | mycurrency}}</span>
        </div>
      </div>
      
      <hr class="no-margin"/>
      
      <!-- Row 3 -->
      <div class="row">
        <div class="col-md-8 col-xs-6">
          <span class="text-label medium">TOTAL</span>
        </div>
        <div class="col-md-4 col-xs-6">
          <span class="text-label medium">{{ totalPrice() | mycurrency }}</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper tab">
  <div class="tab">    
    <h5>Customer Details</h5> 
    <div class="inner-wrapper inner-content">
      <p align="justify">Welcome to BBM Pay! It seems this is your first time purchasing product from our system. Please complete the information below</p>
          <div class="form-group">
            <span class="text-label">FULL NAME</span>
            <div class="right-inner-addon">
              <input type="text" class="form-control" name="firstname" ng-model="customerDetails.first_name" required>
              <div ng-show="form.$submitted || shippingForm.firstname.$touched">
                <i class="glyphicon glyphicon-ok" ng-show="shippingForm.firstname.$valid"></i>
                <i class="glyphicon glyphicon-remove" ng-show="!shippingForm.firstname.$valid"></i>
                <span class="error-message" ng-show="shippingForm.firstname.$error.required">First Name is required.</span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <span class="text-label">EMAIL ADDRESS</span>
            <div class="right-inner-addon">
              <input type="text" class="form-control" name="lastname" ng-model="customerDetails.billing_address.last_name" required>
              <div ng-show="form.$submitted || shippingForm.lastname.$touched">
                <i class="glyphicon glyphicon-ok" ng-show="shippingForm.lastname.$valid"></i>
                <i class="glyphicon glyphicon-remove" ng-show="!shippingForm.lastname.$valid"></i>
                <span class="error-message" ng-show="shippingForm.lastname.$error.required">Last Name is required.</span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <span class="text-label">PHONE NUMBER</span>
            <div class="right-inner-addon">
              <input type="text" class="form-control" name="lastname" ng-model="customerDetails.billing_address.last_name" required>
              <div ng-show="form.$submitted || shippingForm.lastname.$touched">
                <i class="glyphicon glyphicon-ok" ng-show="shippingForm.lastname.$valid"></i>
                <i class="glyphicon glyphicon-remove" ng-show="!shippingForm.lastname.$valid"></i>
                <span class="error-message" ng-show="shippingForm.lastname.$error.required">Last Name is required.</span>
              </div>
            </div>
          </div>
      </div>
  </div>
  <div class="tab middle">    
    <h5>Shipping Details</h5> 
    <div class="inner-wrapper inner-content ng-hide">
      <p align="justify">You haven't had any shipping details yet, please add one by clicking button below.</p>
      <small><a ui-sref="addAddress" class="btn btn-default">ADD ADDRESS</a></small>
    </div>
    <div class="inner-wrapper inner-content">
      <div class="row">
        <div class=" col-xs-8 col-sm-8 col-md-8 col-lg-8">
          <span class="text-label big">Danny Pranoto</span>
        </div>
        <div class=" col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <small><a ui-sref="addAddress" class="btn btn-default pull-right">CHANGE ADDRESS</a></small>
        </div>
      </div>
      <p>Jalan Ciumbuleuit No.122<br/>Hegarmanah, Cidadap, Bandung, Indonesia<br/>Tel.0812345678</p>
      <hr style="margin: 10px 0; border-top: 1px solid #858585"/>
      <p>Please choose your shipping provider.</p>

      <div class="row">

        <div class=" col-xs-4 col-sm-4 col-md-4 col-lg-4 vertical-align" style="justify-content: flex-start">
          <input type="radio" id="bni" class="css-checkbox" name="radio" ng-model="shippingProvider" value="bni" />   
          <label for="bni" class="css-label pull-left"></label>
          <span class="shipping-logo jne"></span>
        </div>

        <div class=" col-xs-4 col-sm-4 col-md-4 col-lg-4 vertical-align" style="justify-content: flex-start">
          <input type="radio" id="mandiri" class="css-checkbox" name="radio" ng-model="shippingProvider" value="mandiri" />   
          <label for="mandiri" class="css-label"></label>
          <span class="shipping-logo tiki"></span>
        </div>

        <div class=" col-xs-4 col-sm-4 col-md-4 col-lg-4 vertical-align" style="justify-content: flex-start">
          <input type="radio" id="cimb_clicks" class="css-checkbox" name="radio" ng-model="shippingProvider" value="cimb_clicks" />   
          <label for="cimb_clicks" class="css-label"></label>
          <span class="shipping-logo posindo"></span>
        </div>
         
      </div>

      <div class="animate-float-left">

        <div class="row">
          <span class="shipping-logo jne"></span>
          <span 
        </div>
        
        <span class="text-label animate-float-left">Please select your shipping package.</span>
        
        <div class="row no-margin">
          <input type="radio" id="3-months" class="css-checkbox" name="radio2" ng-model="installment" value="3" />   
          <label for="3-months" class="css-label">OKE</label>
        </div>

        <div class="row no-margin">
          <input type="radio" id="6-months" class="css-checkbox" name="radio2" ng-model="installment" value="6" />   
          <label for="6-months" class="css-label">YES</label>
        </div>

      </div>

    </div>
  </div>
</div>

<div class="wrapper">
    <div class="inner-wrapper">
        <a ui-sref="checkout" class="btn btn-default pull-left" style="width: 45%">BACK</a>
        <a ui-sref="paymentDetails" class="btn btn-primary pull-right" style="width: 45%">NEXT</a>
    </div>
</div>
