/* Initialize Color Variable */
@dark-gray		: #404041;
@white			: #FFFFFF;
@light-gray		: #CCCCCC;
@red              : #b02424;
@blue   : #1B75BB;
@orange : #F7931D;
@black: #000000;

@font-face {
  font-family: "Proxima Nova";
  src: url('../fonts/proximanova-regular-webfont.ttf');
}
/* Html and Body Style */
html, body {
  min-height: 100%;
  width: 100%;
  font-family: "Proxima Nova";
}

/* Default Content Settings */
header {
	background: @dark-gray;
	width: 100%;
	height: 50px;
/*  overflow: auto;
  overflow-x: hidden;
  overflow-y: hidden;*/
}

.body-wrapper {
  height: 100%;
}


.inner-content {
  padding: 10px 20px; 
}

.content-wrapper {
  background: #EFEFEF;
  border: 1px solid #CCCCCC;
  padding: 10px 0px;
}

.login-content {
  background: @dark-gray;
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  color: @white;
}

.content {
  width: 100%;
  min-height: 100%;
  padding-bottom: 20px;
}

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.auto-overflow {
  overflow: auto;
}

.no-link:hover {
  text-decoration: none;
}

.preview-image-wrapper {
  background: @light-gray;
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
}

/* Default Typography Settings */
.tab {
  padding: 0px 10px;
}
.menu-button {
  background: url(../img/menu_button.png) no-repeat;
  background-size: 75px 50px;
  width: 75px;
  height: 50px;
  display: inline-block;
  cursor: pointer;
}

.title {
	overflow: auto;
	height: 100%;	
	font-size: 2em;
}

.subtitle {
	font-size: 1.5em;
	color: @dark-gray;
  display: inline-block;
  padding-bottom: 20px;
}

.subdetails {
	display: block;
	font-size: 0.9em;
	color: @light-gray;
	padding-bottom: 5px;
}

.text-label {
  display: block;
  color: @dark-gray;
  font-size: 1em;
}
.text-label-center {
  display: block;
  color: @dark-gray;
  font-size: 1em;
  text-align: center;
}

.text-default {
  font-size: 1em;
}

.details-group {
	margin-bottom: 5px;
}

.link-blue {
  font-size: 1.2em;
  color: @blue;
}

.link-orange {
  font-size: 1.2em;
  color: @orange;
}
.bottom {
  position: absolute;
  bottom: 30px;
  left: 0;
  width: 100%;
}

/* Horizontal Lines */
hr {
	width: 100%;
	color: @light-gray;
}

/* Shipping */
.shipping-package-wrapper {
	background: @white;
	padding: 5px 10px;
	margin-bottom: -10px
}

.shipping-logo {
	display: inline-block;
	width: 80px;
	height: 50px;
}

.jne-logo {
	background: url(../img/jne_logo.png) no-repeat;
	background-size: 80px 50px;
}

.tiki-logo {
	background: url(../img/tiki_logo.png) no-repeat;
	background-size: 80px 50px;	
}

.posindo-logo {
	background: url(../img/posindo_logo.png) no-repeat;
	background-size: 80px 50px;
}

/* Product Info and Product Number */
.product-info-label {
	color: @dark-gray;
	font-size: 1em;
}

.product-number-label {
	font-size: 3em;
}
.product-number-label.green {
	color: #009344;
}
.product-number-label.orange {
	color: #F7931D;
}

/* Button Style */
.btn-primary {
  text-transform: uppercase;
  display: inline-block;
  width: auto;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 5px 12px;
  font-size: 1.2em;
  line-height: 1.428571429;
}
.btn-dark-gray {
  background: @dark-gray;
}
.btn-dark-gray:focus,
.btn-dark-gray:hover {
  background: @dark-gray;
  border-color: @dark-gray;
}

.btn-light-gray {
  background: @light-gray;
  color:black;
}
.btn-light-gray:focus,
.btn-light-gray:hover {
  background: @light-gray;
  border-color: @light-gray;
}

.btn-orange {
  background: @orange;
}
.btn-orange:focus,
.btn-orange:hover {
  background: @orange;
  border-color: @orange;
}


/* Form Style */
/* Label */
.form-label {
	display: block;
	color: @dark-gray;
	font-size: 1em;	
}
/* Text Field */
.form-control {
  border-radius: 0px;
}
.form-underline {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  background: none;
  border-style: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.form-underline:focus{
  outline: 0;
}
.form-underline.ng-valid.ng-touched {
  border-bottom: 1px solid #3c763d;  
}

.form-underline.ng-valid.ng-touched:focus {
  border-bottom: 2px solid #2b542c;  
}
.form-underline.ng-invalid.ng-touched {
  border-bottom: 1px solid #a94442;  
}

.form-underline.ng-invalid.ng-touched:focus {
  border-bottom: 2px solid #843534;  
}

.form-login {
  color: @white;
  border-bottom: 1px solid @white;
}
.form-login:focus {
  color: @white;
  border-bottom: 2px solid @white;
}
.form-register {
  color: @dark-gray;
  border-bottom: 1px solid @dark-gray;
}

input[type="text"] {
    position: relative; 
}
input.ng-invalid.ng-touched.form-control {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

input.ng-invalid.ng-touched.form-control:focus {
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}

input.ng-valid.ng-touched.form-control {
  border-color: #3c763d;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

input.ng-valid.ng-touched:focus.form-control {
  border-color: #2b542c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168;
}

/* Dropdown Select */
select {
   background: @white;
   width: 100%;
   padding: 5px 10px;
   font-size: 14px;
   line-height: 1;
   border: 1px solid #CCCCCC;
   border-radius: 0;
   height: 34px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
   -webkit-appearance: none;
}

select:disabled {
   background: #EEEEEE;
}

/* Icon */
.glyphicon-ok {
  color: #3c763d;
  z-index: 999;
}
.glyphicon-remove {
  color: #a94442;
  z-index: 999;
}

/* enable absolute positioning */
.vertical-align {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.inner-addon { 
    position: relative; 
}
.inner-addon i {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}
.left-addon i  { left: 0px;}
.right-addon i { top: 6px; right: 10px;}
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 30px;    
}
.left-inner-addon i {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
}
.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;    
}
.right-inner-addon i {
    position: absolute;
    right: 0px;    
    padding: 6px 10px;
    margin: 3px;
    pointer-events: none;
}
.border-left {
  border-left: 1px solid #CCCCCC;
}

/* Error Message */
.error-message {
  color: @red;
}

.error-box {
  width: 100%;
  border: 1px solid @red;
  background-color: #FFD1D1;
  padding: 20px;
  text-align: center;
}

/* Sidebar Menu */
.sidebar {
  position: absolute;
  top:0;
  bottom: 0;
  width: 80%;
  background: @dark-gray;
  z-index: 999;
  color: @white;
}

.sidebar-header {
  height: 50px;
  padding: 5px 20px;
  border-bottom: 1px solid @white;
}

.logo {
  background: url(../img/vt_logo_white.png) no-repeat;
  background-size: 40px 40px;
  height: 40px;
  width: 40px;
  display: inline-block;
}

.logo-gray {
  background: url(../img/vt_logo_gray.png) no-repeat;
  background-size: 100px 100px;
  height: 100px;
  width: 100px;
  display: inline-block;
}

.logo-white {
  background: url(../img/vt_logo_white.png) no-repeat;
  background-size: 100px 100px;
  height: 100px;
  width: 100px;
  display: inline-block;
}

.merchant-name {
  font-size: 18px;
  color: @white;
  padding: 20px 20px;
  display: block;
}

.menu-list {
  padding: 10px; 
}

.menu {
  display: block;
  padding: 5px 20px;
  border-bottom: 1px solid @white;
  color: @white;
}

@-webkit-keyframes pushright{
  from {-webkit-transform:translateX(-100%); }
  to {-webkit-transform:translateX(0); }
}

@-moz-keyframes pushrightX{
  from {-moz-transform:translateX(-100%);}
  to {-moz-transform:translateX(0);}    
}

@-webkit-keyframes pushleft{
  from {-webkit-transform:translateX(0); }
  to {-webkit-transform:translateX(-100%); }
}

@-moz-keyframes pushleftX{
  from {-moz-transform:translateX(0);}
  to {-moz-transform:translateX(-100%);}    
}

.animate-push-right{
 -webkit-animation-name: pushright;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-name: pushrightX;
  -moz-animation-duration: 0.5s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease-in-out;
  opacity: 1;
}

.animate-push-right.ng-hide{
  -webkit-transition: max-height 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -ms-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  opacity: 0;
}

/* Product Pages Style */
.product-wrapper {
  width: 100%;
  height: auto;
  padding: 10px 0px;
  cursor: pointer;
}

.product-wrapper:focus {
  background: @light-gray;
}

.product-name-label {
  display: block;
  font-size: 1.2em;
  color: @dark-gray;
}

.product-price-label {
  display: block;
  font-size: 1.2em;
  color: @orange;
}

.product-image {
  max-width: 100%;
}

.product-details-wrapper {
  width: 100%;
  height: auto;
  border: 1px solid @light-gray;
  background: @white;
  padding: 0px 10px;
  color: @dark-gray;
}

.product-details-table {
  width: 100%;
}

.product-details-row {
  border-bottom: 1px solid @light-gray;
}

.dialog-box {
  background: @black;
  opacity: 0.9;
  color: @white;
  height: auto;
  padding: 20px 10px;
  width: 80%;
  height: 30%;
}

.absolute-center {
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.center-container {
  position: relative;
}

/* Settings Style */
.subtitle-key {
  display: block;
  color: @light-gray;
  border-bottom: 1px solid @light-gray;
  font-size: 1em;
  margin-bottom: 10px;
}

.email-label {
  font-size: 1.5em;
  color: @orange;
}

/* Transaction Style */
.transaction-table {
  table-layout: fixed;
  width: 100%;
  padding: 5px 0px 5px 0px;
  valign: middle;
  text-align: center;
  border-bottom: 1px solid @light-gray;
  word-wrap: break-word;
}
.transaction-table th{
  background-color: @black;
  color: @white;
  text-align: center;
  padding: 10px 5px 10px 5px;
}
.transaction-table td{
  padding: 5px 5px 5px 5px;
}
.transaction-table tr:nth-child(odd) {
  background-color: @light-gray;
}
.transaction-table tr:nth-child(even) {
  background-color: @white;
}
.transaction-details-table{
  table-layout: fixed;
  padding: 5px 5px 5px 5px;
  valign: top;
  text-align: left;
  border: 1px solid @light-gray;
  word-wrap: break-word;
  width:100%;
}
.transaction-details-table th{
  background-color: #7A7A7A;
  color: @white;
  padding: 5px 5px 5px 5px;
}
.transaction-details-table td{
  padding: 3px 5px 3px 5px;
}
.transaction-details-table td:nth-child(1){
  font-weight: bold;
  width:25%;
}
.transaction-details-table td:nth-child(2){
  width:75%;
}