<div class="inner-content absolute-center">
	<div class="center-block text-center">
		<i class="logo-gray"></i>
	</div>
	<div class="center-block text-center">
		<h3>Forgot Password</h3>
	</div>
	<form role="form" name="forgotPasswordForm" ng-submit="register()" style="margin-top: 30px">
		<p> Please enter your email address below, we'll send a link for resetting your password to your email. </p>
		<div class="form-group">
			<div class="right-inner-addon">
				<input type="text" class="form-underline form-register" name="email" placeholder="Email Address" ng-model="regModel.username" ng-model-options="{ updateOn: 'blur' }" validation-type="email" required />
	            <div ng-show="forgotPasswordForm.$submitted || forgotPasswordForm.email.$touched">
	              <i class="glyphicon glyphicon-ok" ng-show="forgotPasswordForm.email.$valid"></i>
	              <i class="glyphicon glyphicon-remove" ng-show="!forgotPasswordForm.email.$valid"></i>
	              <span class="error-message" ng-show="forgotPasswordForm.email.$error.required">Email address is required.</span>
	              <span class="error-message" ng-show="forgotPasswordForm.email.$error.email">Email address is invalid.</span>
	            </div>
          	</div>
		</div>
		
		<button type="submit" class="btn-primary" style="width: 100%; margin:10px 0px;"><strong>SEND</strong></button>
	</form>

	<div class="text-left">
		<a ui-sref="login" class="link-orange"><span class="fa fa-arrow-left"></span> Back to Sign In</a>
	</div>
	

</div>