<div class="login-content">
	<div class="alert alert-danger" ng-show="error">
		{{error}}
	</div>
	<div class="login-wrapper absolute-center">
		<div class="center-block text-center">
			<i class="logo-white"></i>
		</div>
		<div class="center-block text-center">
			<span class="title text-center">Welcome to Phinisi</span>
		</div>
		<form role="form" ng-submit="login()" style="margin: 10px 0px;">
			<div class="form-group">
				<label for="username">Username</label>
				<input type="text" class="form-control form-login" id="username" name="username" ng-model="loginModel.username" />
			</div>

			<div class="form-group">
				<label for="password">Password</label>
				<input type="password" class="form-control form-login" id="password" name="password" ng-model="loginModel.password" />
			</div>

			<button type="submit" class="btn-orange btn-primary" style="width: 100%; margin:10px 0px;">SIGN IN</button>
		</form>

		<span class="text-label">Don't have any account yet? </span><a ui-sref="register" class="link-blue">Register</a>
	</div>
</div>