<div class="inner-content absolute-center">
	<div class="center-block text-center">
		<i class="logo-gray"></i>
	</div>
	<div class="center-block text-center">
		<h3>Registration Success</h3>
	</div>
	<div style="margin-top: 30px">
		<p align="justify">Thank you for registering! We've just send an activation link to your email. Please confirm your email to activate your account.</p> 
	</div>
	<a ui-sref="login" class="btn-primary" style="width: 100%; margin:10px 0px;"><strong>SIGN IN</strong></a>


</div>