<div class="alert alert-danger" ng-show="error">
	{{error}}
</div>
<form role="form" ng-submit="createMerchant()">
	<div class="form-group">
		<label for="merchantName">Merchant Name</label>
		<input type="text" class="form-control" id="merchantName" name="merchantName" ng-model="merchantModel.details.merchantName" />
	</div>

	<div class="form-group">
		<label for="merchantLogoUrl">Merchant Logo URL</label>
		<input type="text" class="form-control" id="merchantLogoUrl" name="merchantLogoUrl" ng-model="merchantModel.details.merchantLogoUrl" />
	</div>

	<div class="form-group">
		<label for="phoneNumber">Phone Number</label>
		<input type="number" class="form-control" id="phoneNumber" name="phoneNumber" ng-model="merchantModel.address.phoneNumber" />
	</div>

	<div class="form-group">
		<label for="street">Street</label>
		<input type="text" class="form-control" id="street" name="street" ng-model="merchantModel.address.street" />
	</div>

	<div class="form-group">
		<label for="provinceId">Province</label> <br>
		<select ng-model="provinceId">
  			<option  ng-repeat="province in provinceModel" value={{province.id}}> {{province.name}} </option>
		</select>
	</div>

	<div class="form-group">
		<label for="cityId">City</label> <br>
		<select ng-model="merchantModel.address.cityId">
  			<option  ng-repeat="city in cityModel | filter : {provinceId: provinceId}" value={{city.cityId}}> {{city.name}} </option>
		</select>
	</div>

	<button type="submit" class="btn btn-primary">Submit</button>
</form>